<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h3>城市名稱</h3>
    <%= name %>
    <h3>人口數</h3>
    <%= pop %> 萬
</body>
</html>